#sidebar {
    background-color: var(--background-clr);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: var(--border-clr) 1px solid;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo .cine {
    color: white;
}

.logo .plus {
    color: #ff6b00;
}

.title_section {
    color: var(--discrete-clr);
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 85px auto;
    align-items: center;
    gap: 15px;

    & > h3 {
        font-size: 14px;
    }

    & > .switch-persons {
        transition: color 200ms linear;
        cursor: pointer;
    }

    & > .switch-persons:hover{
        color: rgb(158, 158, 158);
    }
}

.navigation h3{
    color: var(--discrete-clr);
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 15px;
}

.nav-links a {
    width: 100%;
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 25px 1fr;
    column-gap: 50px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-links a.active {
    background-color: var(--accent-clr);
}

.nav-links a:hover:not(.active) {
    background-color: #333;
}

.nav-links i {
    margin-right: 10px;
    font-size: 18px;
}

.persons {
    margin-top: 30px;
}

.persons-list {
    list-style: none;
    padding: 0;
}

.persons-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.3s;

    & > a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    & > a > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
    }
}

.persons-list li:hover {
    background-color: #333;
}

.persons-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.persons-list span {
    color: rgb(155, 155, 155);
}

.discover-more {
    display: block;
    color: var(--discrete-clr);
    font-size: 13px;
    margin-top: 25px;
    gap: 5px;
    transition: color 0.3s;
    width: 100%;
    text-align: center;

    & > i {
        vertical-align: bottom;
        margin-left: 5px;
    }
}

.discover-more:hover {
    color: #ff6b00;
}

.persons.hidden {
    display: none;
}